@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@400;700&family=Khand:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-neon-lime: #ccff00;
  --color-neon-orange: #ff4d00;
  --color-off-white: #fcfcfc;
  --color-brutal-black: #000000;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --shadow-brutal: 4px 4px 0 0 #000000;
  --shadow-brutal-lg: 8px 8px 0 0 #000000;
}

@layer base {
  body {
    background-color: var(--color-off-white);
    color: var(--color-brutal-black);
    font-family: var(--font-sans);
  }

  ::selection {
    background-color: var(--color-neon-lime);
    color: black;
  }
}

@layer utilities {
  .border-brutal {
    border: 2px solid var(--color-brutal-black);
  }

  .shadow-brutal {
    box-shadow: var(--shadow-brutal);
  }

  .shadow-brutal-lg {
    box-shadow: var(--shadow-brutal-lg);
  }

  .text-stroke-1 {
    -webkit-text-stroke: 1px black;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px black;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}